input {
    width: 100%;
    line-height: 1.5em;
    margin: 10px 0;
}

form {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  padding-right: 25px;
}

#contactInfo {
    box-sizing: border-box;
    width: 33.33%;
    display: none;
    padding-left: 25px;
    float: right;
}

section {
  clear: both;
}

#contactList li {
  cursor: pointer;
  color: #798;
  font-weight: 800;
}
