label, input {
    display: block;
    width: 100%;
    line-height: 1.5em;
    margin-top: 5px;
}

form {
  box-sizing: border-box;
}

#contactInfo {
    box-sizing: border-box;
    width: 33.33%;
    display: none;
}

#contactList li {
  cursor: pointer;
  color: #798;
  font-weight: 800;
}
